:root {
    --primary-color: rgb(10, 31, 51); 
    --secondary-color: #cf8a3a; 
    --accent1-color: #e8eff6; 
    --accent2-color: #196fb3; 
}

header {
    margin: 1rem auto;
    display: grid;
	grid-template-columns:  200px 1fr 0fr;
	border-bottom: 20px solid #cf8a3a;
	max-width: 1000px;
    background-color: var(--primary-color);
}

header img{
	margin:  0.45rem 0 0.45rem 6.5rem;
	width: 150px;
	height: auto;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-top {
    list-style: none;
    display: flex;
    gap: 100px;
}

.nav-top li {
    margin: 0;
}

.nav-top a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: 700;
    padding: 10px;
}

.nav-top a:hover {
    color: var(--accent2-color);
}

.container {
    max-width: 1200px; 
    margin: 0 auto;   
    padding: 0 15px;  
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    left: 335px;
    background-color: rgba(207, 138, 58, 0.6);
    padding: 15px;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 700;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--accent1-color); 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

p {   
    margin: 1.5rem;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;    
}

article {
    position: absolute;
    bottom: 200px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 9, 131, 0.6); 
    color: rgb(255, 255, 255); 
    padding: 15px;
    border-radius: 5px;
    max-width: 1500px;
}

article img {
    float: right;
    margin-left: 15px;
    max-width: 150px;
    height: auto;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgb(10, 31, 51); 
    color: var(--accent1-color); 
    padding: 15px;
    border-radius: 5px;
}

.history-section,
.adventure-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between
}

.history-section div,
.adventure-section div {
    flex: 1;
    margin: 0 1rem;
    text-align: center;
}

.history-section img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 10px;
    max-width: 200px;
    max-height: 400px;
    margin: auto;
}

.adventure-section img{
    width: 100%;
    max-height: 150px;
    max-width: 200px;
    margin-bottom: 10px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

footer {
    text-align: center;
    padding: 2rem;
    position: relative;
    border-top: 40px solid #cf8a3a;
    margin-top: 30px;
    background-color: rgb(10, 31, 51); 
    color: var(--accent1-color); 
    padding: 15px;
    border-radius: 5px;
}

.social-links {
    position: absolute; 
    right: 100px; 
    bottom: 20px; 
}

.social-links ul {
    list-style: none; 
    display: flex; 
    gap: 20px; 
    padding: 0; 
    margin: 0; 
}

.social-links a {
    display: inline-block; 
}

.social-links img {
    width: 50px; 
    height: auto; 
}

/* Contact Us Page Styles */

.contact-style {
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    position: absolute;
    top: 150px;
    left: 555px;
    background-color: rgba(207, 138, 58, 0.6);
    padding: 15px;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 700;
}

.contact-info {
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    background-color: rgb(10, 31, 51); 
    color: var(--accent1-color); 
    padding: 15px;
    border-radius: 5px;
}

h3 {
    position: absolute;
    top: 420px;
    right: 240px;
    font-size: 1.5rem;
    font-weight: 700;
}

.info {
    position: absolute;
    top: 470px;
    right: 90px;
    font-size: 1rem
}

.info a {
    color: var(--accent2-color);
    text-decoration: none;
}
    
.info a:hover {
    text-decoration: underline;
}

aside {
    width: 100%;
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 650px;
    right: 550px;
}
.happy-employee {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 10px;
    max-width: 170px;
    max-height: 350px;
    margin: auto;
}

.send-message {
    background-color: white;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin: 20px 0;
}

form input, form select, form textarea {
    width: 98%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

form button:hover {
    background-color: var(--secondary-color);
}

form input[type="checkbox"] {
    width: auto;
}

form label {
    font-size: 0.9rem;
    color: var(--primary-color);
}

.wireframe {
    position: absolute; 
    right: 825px; 
    bottom: 10px;    
}

.wireframe ul {
    list-style: none; 
    display: flex; 
    gap: 20px; 
    padding: 0; 
    margin: 0; 
}

.wireframe a {
    display: inline-block; 
}

.wireframe img {
    width: 50px; 
    height: auto; 
}

