:root {
  --background-color: darkslategrey; 
  --width: 150px;
  --height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,.grid, footer {
    max-width: 840px;
    margin: 0 auto;

}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    width: 335px;
  
    
}

aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    font-size: 1.5rem;
    font-style: italic;
    color: #ffffff;
    bottom: auto;
    left: 120px;
}
nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: aliceblue;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    
}

nav a:hover {
    color: lightblue;
}

h1 {
    color: darkslategrey;
    text-align:  center;
    border-bottom: 1px solid #000;
}

img {
    width: var(--width);
    height: auto;
    border: 1px solid lightskyblue;
    padding: 2px;
    box-shadow: 0 0 15px darkgray;
    box-sizing: var(--height);
}

.grid {
    display: grid;
    align-items: center;
    align-content: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 300px;
    height: 450px;
}

h2 {
    display:block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: px;
    margin-inline-end: 0px;
    font-weight: bold;
}

main img {
    width: var(--width);
    height: var(--height);
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}

p { 
    padding: 0;
    margin-top: 5px;
}

footer {
    border-top: 1px solid #000;
    text-align: center;
}